@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Regular.eot?) format("eot"),
       url(../fonts/NotoSans-Regular.woff) format("woff"),
       url(../fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Bold.eot?) format("eot"),
       url(../fonts/NotoSans-Bold.woff) format("woff"),
       url(../fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Regular.eot?) format("eot"),
       url(../fonts/PlayfairDisplay-Regular.woff) format("woff"),
       url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
  font-weight: 400;
}