*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "NotoSans", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  font-family: "PlayfairDisplay", serif;
}

.button--outline {
  padding: 10px 40px;
  background: #ffffff;
  border: 1px solid #F72464;
  font-size: 16px;
  text-transform: uppercase;
  color: #777777;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.button--outline:hover {
  background-color: #F72464;
  color: #ffffff;
}

.button--fill {
  padding: 13px 30px;
  background: #F72464;
  box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  font-size: 26px;
  transition: box-shadow .2s ease-in;
  color: #ffffff;
}

.button--fill:hover {
  box-shadow: 0px 4px 15px rgba(240, 35, 97, 0.712);
}

.none {
  display: none;
}

.section-header {
  margin-bottom: 40px;
}

.section-header__title {
  font-family: "PlayfairDisplay", serif;
  font-size: 42px;
  line-height: 56px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px;
}

.section-header__desc {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
}

.section-header__desc p {
  margin-top: 0;
}

.section-button-wrap {
  text-align: center;
}